.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  padding-bottom: 120px;
  @media screen and (max-width: 690px) {
    flex-wrap: wrap;
  }
}

.pagination-button {
  border-right: 0px;
  width: 25%;
  min-width: auto;
  @media screen and (max-width: 690px) {
    border-right: 2px solid #fff;
  }
}

.pagination-button--all {
  width: 25%;
  min-width: auto;
}

.pagination-button--all-close {
  width: 100%;
  min-width: auto;
  cursor: pointer;
}

.next {
  border-right: 2px solid #fff;
}

.active {
  background: black;
  color: #fff;
}
